{%extends 'base.html' %}

{% block conteudo %}
<section id="sobre">
    <section>
        <img src="seu-foto.jpg" alt="Minha Foto">
        <h2>Seu Nome</h2>
        <p>Olá! Eu sou [David].</p>
    </section>
    <section>
        <h2>Interesses</h2>
        <p>Eu sou apaixonado por sou apaixonado por tcnologia amo programar e fico cada vez mais apaixonado. Adoro amo  faze esporte por questao de equilibrio amo programa e e fazer esports e estou sempre em busca de realizar sonhos.</p>
    </section>
</section>
{% endblock %}